.product{
    padding: 0.5rem 1rem;
    border: 2px solid #EF9F9F;
    margin-bottom: 1rem;
    width: 100%;
}

.product-icons{
    font-size: 1.2rem;
    cursor: pointer;
    color: #EF9F9F;
}

.product-icons:not(:last-child) {
    margin-right: 0.5rem;
}

.product-img {
    height: 50px;
    width: 50px;
}
