.loginpage {
  text-align: center;
  justify-content: space-between;
  background-color: #E3FDFD;
  padding: 2rem;
  min-height: 90vh;
}

.loginpage h4 {
  margin: 0.5rem 0;
}

.login-form button {
  margin-bottom: 1rem;
}

.login-form {
  margin-top: 1.5rem;
}

.footer h3 {
  margin-bottom: 0.6rem;
  color: #484274;
}
