.card {
  position: relative;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  width: 320px;
  margin-bottom: 3rem;
}

.card:hover {
  transform: translateY(-15px);
}

.card-hero {
  width: 100%;
  height: 200px;
}

.card-content {
  padding: 1rem;
  cursor: pointer;
}

.card-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid rgb(70, 155, 154);
  background: transparent;
  object-fit: cover;
}

.name {
  font-family: "DM Sans", sans-serif;
  color: #27296d;
  margin-bottom: 0.2rem;
}

.location {
  font-size: 0.9rem;
  color: #35477d;
  margin-bottom: 0.2rem;
}

.location-icon {
  margin-right: 0.2rem;
}

.card-star {
  font-size: 1rem;
  margin-left: 0.2rem;
}

.card-star:not(:last-child) {
  margin-right: 0.2rem;
}

.card-star:nth-child(1) {
  margin-top: 0.2rem;
}

.description {
  font-size: 0.7rem;
  margin-top: 0.2rem;
  color: #4b6587;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-body button {
  width: 5rem;
}
