.card {
  position: relative;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 2rem;
  overflow: hidden;
  width: 16rem;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-hero {
  width: 100%;
  height: 9rem;
}

.card-content {
  padding: 1rem;
}

.card-header {
  margin-bottom: 0.3rem;
}

.card-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid rgb(70, 155, 154);
  background: transparent;
  object-fit: cover;
}

.name {
  font-family: 'DM Sans', sans-serif;
  color:#27296D
}

.card-title {
  margin-left: 1rem;
}

.location {
  font-size: 0.9rem;
  color: #35477D;
}

.description {
  font-size: 0.7rem;
  margin-bottom: 0.8rem;
  margin-top: 0.3rem;
  color: #4B6587;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-body button {
  width: 5rem;
}
