.cakecard {
  max-width: 300px;
  border-radius: 3px;
  background-color: aliceblue;
  padding-bottom: 0.7rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin-bottom: 2.5rem;
  margin-right: 2rem;
}

.cakecard-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.fas.fa-heart {
  color: #E63E6D;
}

.cakecard button {
  width: 6rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-top: 0.4rem;
}

.cakecard-buttons {
  justify-content: space-evenly;
}