.cakecard {
  width: 300px;
  overflow: hidden;
  position: relative;
}

.cakecard-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cakecard-action {
  width: 100%;
}

.cakecard-action .active-button {
  border-radius: 0;
}

.cake-name {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.cakecard-info {
  padding: 0.2rem 0.5rem;
}
