.shopregister {
    padding: 1rem 2rem;
    margin: 2rem 0rem;
    animation: pop 0.5s ease-in-out
}

.shopregister h3 {
    margin-bottom: 1rem;
}

.shopregister label {
    color: #000;
    margin-right: 0.5rem;
}

.shopregister-img-icons {
    justify-content: space-between;
}

.shopregister-icon {
    margin-bottom: 0.8rem;
}

.shopregister-textarea:focus {
    outline: none;
}

.shopregister-form .shopregister-clear-btn  { 
    margin-top: 1rem; 
}



@media (max-width: 520px) {
    /* .shopregister h3 {
        margin: 0.5rem 0;
        color: #fff;
    }

    .shopregister {
        padding: 0 1rem;
    }

    .shopregister label {
        color: #fff;
        display: block;
        margin-bottom: 0.5rem;
    }

    .shopregister-input {
        padding: 0.5rem;
        font-size: 0.8rem;
    } */
}