.header {
  height: 30rem;
  margin-bottom: 3rem;
}

.header h1 {
  font-size: 3rem;
  color: #f47c7c;
}

.header h2 {
  color: #999;
  font-weight: 400;
}

.header-left {
  flex: 1;
}

.header-left .input {
  width: 350px;
  height: 50px;
  font-size: 1.3rem;
}

.header-left .active-button {
  width: 100px;
  height: 50px;
  font-size: 1rem;
}

.header-right {
  flex: 1;
}

.header-title {
  text-align: center;
  overflow: hidden;
  height: 60px;
}

