.userprofile {
  justify-content: space-between;
  min-height: 90vh;
  padding: 2rem 4rem;
}

.userprofile-main {
  padding: 2rem;
  width: 70%;
  color: black ;
  animation: pop 0.5s ease-in-out;
}

.userprofile-left {
  padding: 1rem 3rem;
  justify-content: space-between;
}

.userprofile-left button {
  width: 7rem;
}

.userprofile-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 3rem;
}

.userprofile-right {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
}

.footer {
  text-align: center;
}

.shop-btn {
  color: #000;
}