.singleshop {
  padding: 0 6rem 1rem 6rem;
}

.singleshop-banner-img {
  width: 100%;
  height: 22rem;
  object-fit: cover;
  border-radius: 3px;
}

.singleshop-title {
  padding: 1rem;
}

.singleshop-logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2rem;
}

.singleshop-title-text{
  color: #484274; 
}

.singleshop-body {
  padding: 1rem;
}

.singleshop-desc {
  margin: 1rem 0 2rem 0 ;
}

.singleshop-menu {
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}

.singleshop-rating {
  margin-bottom: 2rem;
  padding-left: 2rem;
  font-size: 2rem;
}

.singleshop-review {
  flex-wrap: wrap;
  justify-content: center;
}