.shopedit-container div {
    justify-content: space-between;
}

.edit-button {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    background-color: rgb(70, 155, 154);
    color: #fff;
    width: 70px;
    cursor: pointer;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    margin-left: 0.5rem;
}

.shopedit-title {
    margin-bottom: 2rem;
}

.edit-pen {
    font-size: 0.8rem;
    font-weight: 400;
}