.loginpage {
  text-align: center;
  justify-content: space-between;
  background-color: #E3FDFD;
  padding: 2rem;
  min-height: 90vh;
}

.login-form {
  margin-top: 2rem;
}

.footer h3{
  margin-bottom: 0.6rem;
  color: #484274;
}