.admin-container{
    padding: 1rem 2rem;
    position: relative;
    flex: 4;
    
}
.admin-left{
    flex: 1;
    background-color: rgb(22, 138, 138);
}
.admin-full{

}
.admin-products{
    padding: 1rem;
    flex: 1;
    text-align: center;
    border-right: 2px solid red;
}

.admin-orders{
    padding: 1rem;
    flex: 1;
    text-align: center;
}
.right-top{
    height: 300px;
}
.admin-products h2{
    margin-bottom: 1rem;
}

.admin-window {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
.admin-card{
    height: 250px;
    width: 250px;
    background-color: black;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2rem;
    margin-top: 2rem;
    z-index: 100;
}