.home-main {
  padding: 2rem 0.3rem;
  width: 100%;
}

.home-header-card {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: inline-block;
}

.homepage-trending {
  width: 100%;
  padding: 3rem 0rem;
  overflow-x: scroll;
}

.homepage-trending::-webkit-scrollbar {
  display: none;
}

.home-header-card:not(:last-child) {
  margin-right: 3rem;
}
.h1-font {
  font-family: "DM Sans", sans-serif;
}
.home-shops {
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 3rem;
}
