.shopregister {
    padding: 1rem 0;
    background: #E3FDFD;
}

.shopregister h3 {
    margin-bottom: 1rem;
}

.shopregister label {
    color: #000;
    margin-right: 0.5rem;
}

.shopregister-img-icons {
    margin-left: 1rem;
    justify-content: space-between;
}

.shopregister-icon {
    margin-bottom: 0.8rem;
}

.shopregister-textarea:focus {
    outline: none;
}

.shopregister-form .shopregister-clear-btn  {
    background-color: #CBF1F5;
    margin-top: 1rem; 
    color: #000;
}

.shopregister {
    height: 90vh;
}

.shopregister-form {
    padding-bottom: 0.5rem;
}

@media (max-width: 520px) {
    /* .shopregister h3 {
        margin: 0.5rem 0;
        color: #fff;
    }

    .shopregister {
        padding: 0 1rem;
    }

    .shopregister label {
        color: #fff;
        display: block;
        margin-bottom: 0.5rem;
    }

    .shopregister-input {
        padding: 0.5rem;
        font-size: 0.8rem;
    } */
}