.shopregister {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.8)),
    url('https://images.unsplash.com/photo-1574085733277-851d9d856a3a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGNha2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 1rem 0;
}

.shopregister h3 {
    margin-bottom: 1rem;
    color: #fff;
}

.shopregister label {
    color: #fff;
    /* display: block; */
    margin-bottom: 1rem;
}

.shopregister-input {
    color: black;
    border: none;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.shopregister-img-icons {
    display: flex;
    justify-content: space-between;
}

.shopregister-icon {
    margin-left: 1rem;
}

.shopregister-textarea {
    border: none;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    width: 300px;
    font-size: 0.9rem;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
}

.shopregister-textarea:focus {
    outline: none;
}

.shopregister-submit-btn, .shopregister-clear-btn {
    border: none;
    margin-top: 0.3rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #00ADB5;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    cursor: pointer;
}

.shopregister-clear-btn {
    background-color: #999;
    margin-top: 1rem;
    color: #fff
}

.shopregister {
    height: 90vh;
}

.shopregister-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

/* .shopegister-input,
.shopregistersubmit-btn {
    width: 300px;
} */


@media (max-width: 520px) {
    /* .shopregister h3 {
        margin: 0.5rem 0;
        color: #fff;
    }

    .shopregister {
        padding: 0 1rem;
    }

    .shopregister label {
        color: #fff;
        display: block;
        margin-bottom: 0.5rem;
    }

    .shopregister-input {
        padding: 0.5rem;
        font-size: 0.8rem;
    } */
}