.container {
    text-align: center;
    justify-content: space-between;
    padding: 2rem 0;
    height: 90vh;
    background-color: #E3FDFD;
}

.register-img {
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.userregister-form {
    padding: 1rem 2rem;
}

.register-footer-link {
    color:#000;
}

.propic {
    width: 300px;
    margin-bottom: 1rem;
}
.propic label{
    margin-right: 1rem;
}