.cart-items{
   padding: 2rem;
   border-radius: 10px;
   margin-bottom: 1rem;
    position: relative;
    width: 100%;
}

.cart-img{
    width: 10rem;
    height: 10rem;
    margin-right: 1rem;
}

.cart-right {
    text-align: left;
    width: 100%;
}

.cart-item-name {
    font-size: 1rem;
}

.cart-item-name span {
    font-size: 1.2rem;
    font-weight: bold;
}

.qty-btn {
    font-size: 1.3rem;
    background-color: transparent;
    padding: 0.5rem;
    cursor: pointer;
}

.cart-item-qty {
    margin: 0.5rem;
}


.cart-btn {
    border: none;
    background-color:#F47C7C ;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
}


.cart_qty {
    margin-top: 0.5rem;
    width: 50px;
    font-size: 1rem;
    padding: 0.2rem;
}