.cart{
   padding: 2rem 11rem;
    text-align: center;
    align-items: center;
    justify-content: center; 
}

.cart-bottom{
    padding: 0.2rem;
}

.cart h1{
    margin-bottom: 1rem;
}
.cart-bottom h2{
    margin-bottom: 0.5rem;
}
