.admin-sidebar{
    width: 280px;
    background-color: #fff;
    height: 90vh;
}

.admin-sidebar h2 {
    padding: 0.5rem;
    cursor: pointer;
}

.admin-sidebar h2:hover {
    background-color: #FAD4D4;
}

.admin-sidebar-card {
    color: #F47C7C;
    padding: 1rem 0.5rem;
}

.admin-sidebar-card:hover {
    background-color: rgb(240, 240, 240);
}

.add-new-shop {
    border-radius: 10px;
    color: white;
    background-color: #F47C7C;
    padding: 1rem;
    text-align: center;
}