.recipeForm {
  padding: 1rem;
  border: 1.5px solid #f47c7c;
  animation: slide-left 0.5s linear;
}

.recipeForm h2,
.recipeForm h4,
.recipeForm h3 {
  color: #f47c7c;
  font-family: "DM Sans", sans-serif;
}

.recipeForm-form {
  margin-top: 1rem;
}

.recipeForm-form button {
  width: 300px;
}

::placeholder {
  opacity: 0.7;
}

.recipeForm-textarea:focus {
  outline: none;
}

.recipeForm-form .recipeForm-button-clear {
  background-color: #fff;
  color: #000;
}

.recipeForm-button-clear {
  margin-top: 1rem;
}
