.navbar {
  padding: 1rem 6rem;
  justify-content: space-between;
  color: #111;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 999;
  height: 10vh;
}

.logo {
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.2);
}

.nav-links {
  list-style: none;
  justify-content: center;
}

.nav-link {
  transition: all 0.3s ease-in-out;
  color: #fff;
  background-color: #f47c7c;
  padding: 0.6rem;
  font-size: 0.9rem;
}

.user-pic {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.cart-logo {
  font-size: 2.5rem;
  color: #ef9f9f;
  position: relative;
}

.cart-qty {
  position: absolute;
  font-size: 0.8rem;
  background-color: #f47c7c;
  color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  top: -5px;
  right: -5px;
}

.nav-link:hover {
  background-color: #ef9f9f;
}

.nav-link-logo {
  font-size: 2rem;
  font-weight: 300;
  color: #f47c7c;
}

.home {
  font-family: "DM Sans", sans-serif;
}

.recipielink {
  color: #fff;
  margin-right: 1rem;
}

.from {
  font-family: "Carattere", cursive;
}

@media (max-width: 520px) {
  .navbar {
    padding: 1rem 1.5rem;
  }

  .nav-link {
    font-size: 0.9rem;
  }
}
