.navbar { 
  padding: 1rem 6rem;
  justify-content: space-between;
  color: #111;
  background-color: #fff;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 999;
  height: 10vh;
}

.nav-links {
  list-style: none;
  justify-content: center;
}

.nav-link {
  transition: all 0.3s ease-in-out;
  color: #fff;
  background-color:rgb(70,155,154);
  padding: 0.6rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.nav-link-name {
  margin-right: 1rem;
  font-size:18px ;
}

.user-pic {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.nav-link:hover {
  background-color: rgb(18, 88, 87);
}

.nav-link-logo {
  font-size: 2rem;
  font-weight: 300;
  color: #111;
}

.home{ 
  font-family: sans-serif;
}

.from {
  font-family: 'Carattere', cursive;
}

@media(max-width: 520px) {
  .navbar {
    padding: 1rem 1.5rem;
  }

  .nav-link {
    font-size: 0.9rem;
  }

}
